// CrossFit Huey Styles

// Fonts
$heading-font: 'Luckiest Guy', cursive;
$alt-font: 'Permanent Marker', cursive;
$body-font: Geneva,Tahoma,Verdana,sans-serif;

// Colors
$purple: #501358;
$yellow: #EAB835;
$cyan: #1FCCBE;
$green: #239E68;
$red: #C1160A;
$pink: #CE3488;

// Sizing
$pad: 80px;
